@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel+Decorative&family=Josefin+Slab&display=swap");

@import "tailwindcss";

@theme inline {
    /* Custom fonts */
    --font-cinzel: "Cinzel Decorative", serif;
    --font-bad-script: "Bad Script", cursive;
    --font-josefin: "Josefin Slab", sans-serif;

    /* Custom colors */
    --color-primary: #252336;
    --color-primary-ogdarker: #39364f;
    --color-primary-og: #42334e;
    --color-dark: #121212;
    --color-secondary: #627f98;
    --color-accent: #42334e;

    /* Custom shadows */
    --shadow-card: 0 2px 15px rgba(0, 0, 0, 0.08);
    --shadow-card-hover: 0 8px 30px rgba(0, 0, 0, 0.12);
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* Global defaults */
body {
    font-family: var(--font-josefin);
}

/* === Utility classes that map to the font-family config === */
.font-cinzel {
    font-family: var(--font-cinzel);
}

.font-bad-script {
    font-family: var(--font-bad-script);
}

.debug {
    @apply border border-red-500;
}

.container-main {
    width: 100%;

    @media (width >=40rem) {
        max-width: 36rem;
    }

    @media (width >=48rem) {
        max-width: 40rem;
    }

    @media (width >=64rem) {
        max-width: 48rem;
    }

    @media (width >=80rem) {
        max-width: 64rem;
    }

    @media (width >=96rem) {
        max-width: 80rem;
    }
}
