@import "tailwindcss";

.debug {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity))
}

.container-main {
  width: 100%;
  @media (width >=40rem) {
    max-width: 36rem;
  }
  @media (width >=48rem) {
    max-width: 40rem;
  }
  @media (width >=64rem) {
    max-width: 48rem;
  }
  @media (width >=80rem) {
    max-width: 64rem;
  }
  @media (width >=96rem) {
    max-width: 80rem;
  }
}
